spring:
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true

app:
  gmail:
    enabled: ${GMAIL_ENABLED:false}
    poll-interval-ms: 120000

logging:
  level:
    com.wealthmanager: DEBUG
    org.springframework.web: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
